<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120006776704-441cplmiv0e6v2ps7s31enu9vpvasjmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120006776704-441cplmiv0e6v2ps7s31enu9vpvasjmt</string>
	<key>API_KEY</key>
	<string>AIzaSyBoZtVOfbB3tr26NL_CKne4zGexOwpLYaE</string>
	<key>GCM_SENDER_ID</key>
	<string>120006776704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dgrab.movingPlus</string>
	<key>PROJECT_ID</key>
	<string>moving-plus-8223e</string>
	<key>STORAGE_BUCKET</key>
	<string>moving-plus-8223e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120006776704:ios:0e2bf2dbca3db9f86c5365</string>
</dict>
</plist>